DATABASE_URL=postgresql://admin:troque-esta-senha@localhost:5433/pc_build_analyzer
SECRET_KEY=gere-uma-chave-aleatoria-longa-para-desenvolvimento
FRONTEND_URL=http://localhost:5173

AWS_REGION=sa-east-1
AWS_BUCKET_NAME=nome-do-seu-bucket
GEMINI_API_KEY=sua-chave-da-ia
