DATABASE_URL=postgresql://user:password@localhost:5432/pc_build_analyzer

SECRET_KEY=<INSERT_JWT_SECRET_KEY>

FRONTEND_URL=http://localhost:5173

AWS_ACCESS_KEY_ID=<INSERT_AWS_ACCESS_KEY_ID>
AWS_SECRET_ACCESS_KEY=<INSERT_AWS_SECRET_ACCESS_KEY>
AWS_REGION=us-east-1
AWS_BUCKET_NAME=<INSERT_AWS_BUCKET_NAME>

GEMINI_API_KEY=<INSERT_GEMINI_API_KEY>
SQS_QUEUE_URL=<INSERT_SQS_URL>